<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <body layout:fragment="content">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h1 th:inline="text">[[${totalSwapCount}]] items swapped on PCSwap.io</h1>
            </div>
        </div>
        <br/>
        <div class="row">
            <form action="/search" method="post">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" name="searchItem" placeholder="2016 Macbook Pro"/>
                        <div class="input-group-btn">
                            <span class="input-group-btn">
                                <button class="btn btn-lg btn-primary" type="button">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br/>
        <br/>
        <div th:each="swapListing : ${recentSwapListings}">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title" th:inline="text">[Have] [[${swapListing.sellItem.item}]] [Want] [[${swapListing.tradeForItem.item}]]</h3>
                        </div>
                        <div class="panel-body">
                            <p th:text="${swapListing.sellItem.description}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>